################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/AlgorandAuthentication/v16
/bin/Debug
/bin/Release
